%div.offset-sm-11
  = link_to 'Back', sub_categories_path, class: "btn btn-success"
- if current_user.role == "admin"
  = button_to 'Add New Animation', new_animation_path, method: "get", class: "btn btn-primary"
- n = 0
- count = @animations.count
- outer = (count - 1) / 4 + 1
.container-fluid.justify-content-center
  - outer.times do
    .row.justify-content-left.my-4
      - 4.times do
        - break if n >= count
        .card.col-md-3.p-3.text-center{:style => "height: 28rem"}
          %img.img-fluid{:alt => "hii", :src => "#{@animations[n].picture.url}", :style => "height: 50%"}
          .card-body
            %h5.card-title.text-center.my-4= @animations[n].animation_name
            %p.card-text.text-center.my-4 Animation Price/Day: #{@animations[n].animation_price}
            =button_to 'Show Demo', demo_path(@primary_category_id, @secondary_category_id, @animations[n].id), method: "get", class: "btn btn-primary ", :style => "float: left"
            - if current_user.role == "user"
              = button_to 'Purchase', purchase_path(@primary_category_id, @secondary_category_id, @animations[n].id), method: "get", class: "btn btn-success", :style => "float: right"
        - n+=1