.container
  .row
    .col-md-4.offset-md-4.border.p-4.mt-5
      %h2 Create Theme
      = bootstrap_form_with(model: @theme, url: themes_path) do  |f|
        = f.text_field :theme_name
        = f.label :Theme_State
        = f.check_box :active, :label => "Active"
        %br
        = f.select :animation, [["Diwali", "Diwali"], ["Holi", "Holi"],["Christmas", "Christmas"] ] , :label => "Select Animation "
        = f.submit "Create", class:"btn btn-primary btn-block"
