.jumbotron.text-center.p-3
  %h1.display-4 Web Decor
.container
  .row
    .col-md-4.offset-md-4.border.p-4
      = bootstrap_form_with(model: @theme, url: themes_path) do  |f|
        = f.text_field :theme_name
        = f.label :Theme_State
        = f.check_box :state, :label => "Active"
        %br
        = f.select :animation, [["Diwali", "Diwali"], ["Holi", "Holi"],["Christmas", "Christmas"] ] , :label => "Select Animation "
        = f.submit "Create"
