%nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-5
  = link_to 'WebDecor', new_user_session_path, class:"navbar-brand"
.container
  .row
    .col-md-4.offset-md-4.border.border-dark.rounded.p-4
      %h2 Set your password
      = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        .field
          %br/
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
            %br/
          = f.password_field :password, autofocus: true, autocomplete: "new-password", :label => "New Password"
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", :label => "Confirm New Password"
        .actions
          = f.submit "Set my password", class: "btn btn-primary btn-block"
