-locations = ["Maharashtra", "Karnataka", "AP"]
-flash[:notice]
.container
  .row
    .col-lg-4.offset-lg-4
      %h3 Update Animation Details
      = bootstrap_form_with model: @edit_order, url: user_animation_path,local: true do |form|
        = form.hidden_field :animation_data_id, value: @edit_order.animation_data_id
        %p
        = form.date_field :start_date, min: Date.today, onchange: 'setDate(this.value)'
        %p
        = form.date_field :end_date, min: Date.today, id: 'end_date'
        %p
        = form.select :location, locations
        = form.submit


:javascript
  setDate = function(start_date){
    document.getElementById('end_date').min = start_date
  }
