.col-md-8.offset-md-2
  %h1 My Orders
  %table.table.table-hover
    %tr
      %th Primary Category
      %th Secondary Category
      %th Animation Name
      %th Start Date
      %th End Date
      %th Location
      %th Animation Price/Day
      %th Amount
      %th Status
      %th.text-center{colspan: 3} Operations

    - @animations.each do |anim|
      %tr
        %td= anim.animation_data.category.primarycategory.category_name
        %td= anim.animation_data.category.category_name
        %td= anim.animation_data.animation_name
        %td= anim.start_date
        %td= anim.end_date
        %td= anim.location
        %td= anim.status
        %td
          = link_to '', demo_path(anim.animation_data.category.primarycategory_id,
            anim.animation_data.category.id, anim.animation_data_id), method: "get",
            class: "fa fa-desktop btn", title: 'Demo'

          -if anim.status == 'Active'
            -if anim.start_date > Date.today
              = link_to '', user_animation_path(anim.id), method: "delete", data:{confirm: "are you sure?"},
              class: "fa fa-trash btn", title: 'Delete'
            -else
              = link_to '', user_animation_path(anim.id), method: "get", data:{confirm: "are you sure?"},
              class: "fa fa-ban btn", title: "Inactive"
            -if anim.end_date >= Date.today
              = link_to '', edit_user_animation_path(anim.id), class: "fa fa-edit btn", title: 'Edit'
