-locations = ["Maharashtra", "Karnataka", "AP"]
.container
  .row
    .col-lg-4.offset-lg-4
      %h3 Fill Animation Details
      = bootstrap_form_with scope: :user_animation, url: user_animations_path,local: true do |form|
        = form.hidden_field :price, value: @price, readonly: true
        %p
        = form.hidden_field :animation_data_id, value: @animation_id
        %p
        = form.hidden_field :category_id, value: @category_id
        %p
        = form.hidden_field :sub_category_id, value: @sub_category_id
        %p
        %label Start Date
        %br/
        %input#startDate{type: "text", class: 'form-control', name: "user_animation[start_date]",
                         onchange: 'calcAmount()', autocomplete: 'off', required: true}
        %p
        %label End Date
        %br/
        %input#endDate{type: "text",  class: 'form-control', name: "user_animation[end_date]",
                       onchange: 'calcAmount()', autocomplete: 'off', required: true}
        %p
        = form.select :frequency, options_for_select(UserAnimation::FREQUENCY), :label => 'Frequency of Animation(seconds)'
        %p
        = form.text_field :amount, value: @amount, readonly: true
        %p
        = form.select :location, locations
        = form.submit
      %br
      = button_to 'Cancel', animations_path, method: "get", class: "btn btn-success", :style => "float: left"
