%nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-5
  = link_to 'WebDecor', new_user_session_path, class:"navbar-brand"
.container
  .row
    .col-md-4.offset-md-4.border.border-dark.rounded.p-4
      %h2 Log in
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-input
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
          = f.password_field :password, autocomplete: "current-password", class: "form-control"
        .form-actions
          = f.submit "Log in", class:"btn btn-success btn-block"
        %br/
      = render "devise/shared/links"
