%div.offset-sm-11
  = link_to 'Back', dashboard_index_path, class: "btn btn-success"
- if current_user.role == "admin"
  = button_to 'New Category', new_category_path, method: "get", class: "btn btn-primary"
- n = 0
- count = @categories.count
- outer = (count - 1) / 4 + 1
.container-fluid.justify-content-center
  - outer.times do
    .row.justify-content-left.my-4
      - 4.times do
        - break if n >= count
        .card.col-md-3.p-3.text-center{:style => "height: 32rem"}
          %img.img-fluid{:alt => "hii", :src => "#{@categories[n].picture.url}", :style => "height: 40%"}
          %h5.card-title.text-center.pt-3= @categories[n].category_name
          .card-body.justify-content-center.overflow-auto.m-0.p-0
            %p.card-text.text-muted.text-center= @categories[n].category_description
            - if current_user.role == "user"
              = button_to 'View', sub_categories_path(@categories[n].id), method: "get", class: "btn btn-info"
            - if current_user.role == "admin"
              = button_to 'View', sub_categories_path(@categories[n].id), method: "get", class: "btn btn-info", :style => "float: left"
              = button_to 'Delete', category_path(@categories[n].id), method: "delete", data: { confirm: "Do you want to delete ?" }, class: "btn btn-danger", :style => "float: right"
              = button_to 'Edit', edit_category_path(@categories[n].id), method: "get", class: "btn btn-success"

        - n+=1
