- if current_user.role == "admin"
  = button_to 'New Sub_category', new_sub_category_path(@primary_category), method: "get", class: "btn btn-primary"
- n = 0
- count = @categories.count
- outer = (count - 1) / 4 + 1
.container-fluid.justify-content-center
  - outer.times do
    .row.justify-content-left.my-4
      - 4.times do
        - break if n >= count
        .card.col-md-3.p-3.text-center{:style => "height: 32rem"}
          %img.img-fluid{:alt => "hii", :src => "#{@categories[n].picture.url}", :style => "height: 50%"}
          %h5.card-title.text-center.pt-3= @categories[n].category_name
          .card-body.justify-content-center.overflow-auto.m-0.p-0
            %p.card-text.text-muted.text-center= @categories[n].category_description
          = button_to 'click here', animations_path(@primary_category.id, @categories[n].id), method: "get", class: "btn btn-success"
          = button_to "Edit", edit_sub_category_path(@primary_category.id, @categories[n].id), method: "get", class: "btn btn-success"
          = button_to 'Delete', destroy_sub_category_path(@primary_category.id, @categories[n].id), method: "delete", class: "btn btn-success"
        - n+=1
