!!!
%html.h-100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WebDecor
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.7.0/css/all.css'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'alert'
    = javascript_pack_tag 'demoanimation'

    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.9/lottie.js", :type => "text/javascript"}

  %body#b.h-100
    -# #lottie{:style =>"position: fixed; z-index: -999; display: block;"}
    - if notice
      #message.alert.alert-success
        %span.fa.fa-check-circle.fa-lg
        = notice
    - if alert
      #message.alert.alert-danger
        %span.fa.fa-exclamation-circle.fa-lg
        = alert
    - if user_signed_in?
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
        = link_to 'WebDecor', dashboard_index_path, class:"navbar-brand"
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
                = current_user.email
              .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                = link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item'
                = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'
    -# %lottie-player{ :autoplay => "", :background => "transparent", :loop => "", :speed => "1", :src => "/9514-celebration.json", :style => "width: 80%; position:fixed; display:block;"}
    = yield
